name: Build EXE with PyInstaller

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
        # cache 옵션 제거됨

    # 1. 라이브러리 설치
    # rasterio를 명시적으로 추가하여 설치를 확실하게 합니다.
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install PySide6 matplotlib numpy scipy segyio contextily pyproj rasterio pyinstaller

    # 2. EXE 빌드 (수정된 부분)
    # --collect-all "rasterio"를 추가하여 에러를 해결합니다.
    - name: Build EXE
      run: |
        pyinstaller main.py --name "SeismicViewer" --onefile --windowed --clean --collect-all "contextily" --collect-all "pyproj" --collect-all "rasterio"

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: SeismicViewer_Windows_EXE
        path: dist/SeismicViewer.exe
