name: Build EXE

on: 
  push:             # 코드가 수정될 때 자동 실행
  workflow_dispatch: # 수동 실행 버튼 활성화

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install segyio numpy matplotlib scipy pyinstaller

    - name: Build EXE
      run: |
        # 파일 이름을 woo_interpreter.py로 정확히 지정했습니다.
        pyinstaller --onefile --noconsole --name "우_interpreter" woo_interpreter.py

    - name: Upload EXE
      uses: actions/upload-artifact@v3
      with:
        name: woo_viewer_exe
        path: dist/우_interpreter.exe
