name: Build EXE

on: 
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install segyio numpy matplotlib scipy pyinstaller

    - name: Build with PyInstaller
      run: |
        # 파일명을 woo_interpreter.py로 정확히 매칭했습니다.
        pyinstaller --onefile --noconsole --name "우_interpreter" woo_interpreter.py

    - name: Upload EXE
      if: success()
      uses: actions/upload-artifact@v3
      with:
        name: woo_viewer_exe
        path: dist/우_interpreter.exe
